nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  color: #fff;
}
.logo {
  font-size: 30px;
  text-transform: uppercase;
}
ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  font-size: 14px;
  margin-left: 15px;
  padding: 10px;
  box-sizing: border-box;
  color: rgba(#fff, 0.7);
  cursor: pointer;
}
.search {
  color: rgba(#fff, 0.7);
}
i {
  cursor: pointer;
  margin-left: 15px;
}
